---
import { getI18N } from '@i18n/index'
const i18n = getI18N(Astro.currentLocale)
---

<section class="max-w-[90%] md:max-w-[1100px] mb-14 md:mb-24 mx-auto">
  <h2 class="text-5xl font-extrabold py-3 md:text-8xl md:font-normal md:h-24 w-full md:w-[70%] dark:text-black text-white">{i18n.EDUCATION.TITLE}</h2>


  <section class="mt-6 md:mt-16">

    <!-- itec & platzi -->
    <div class="flex flex-col md:flex-row w-full justify-between md:px-9 gap-5 mb-5 md:gap-0 md:mb-0">
      <div class="md:w-[45%] flex flex-col md:items-center justify-center">

        <article class="md:max-w-[90%]">
          <div class="flex items-end gap-5 md:justify-normal justify-between">
            <div class="flex gap-3">
              <img class="object-contain h-6 md:h-9" src="/itec.png" alt="iTec">
              <h4 class="text-black dark:text-white font-bold text-xl md:text-3xl">iTec</h4>
            </div>

            <span class="text-secondary-light-text dark:text-secondary-dark-text font-bold text-base">2020 - 2021</span>
          </div>

          <p class="text-sm text-secondary-light-text dark:text-secondary-dark-text md:mt-3 text-pretty">
            {i18n.EDUCATION.ITEC}
          </p>

        </article>

        <div class="w-full hidden md:flex flex-col items-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-caret-up-filled text-outline-light dark:text-outline-dark" width="35" height="35" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M11.293 7.293a1 1 0 0 1 1.32 -.083l.094 .083l6 6l.083 .094l.054 .077l.054 .096l.017 .036l.027 .067l.032 .108l.01 .053l.01 .06l.004 .057l.002 .059l-.002 .059l-.005 .058l-.009 .06l-.01 .052l-.032 .108l-.027 .067l-.07 .132l-.065 .09l-.073 .081l-.094 .083l-.077 .054l-.096 .054l-.036 .017l-.067 .027l-.108 .032l-.053 .01l-.06 .01l-.057 .004l-.059 .002h-12c-.852 0 -1.297 -.986 -.783 -1.623l.076 -.084l6 -6z" stroke-width="0" fill="currentColor" />
          </svg>
          <span class="inline-block border-r-2 border-t-2 border-l-2 border-outline-light dark:border-outline-dark rounded-tr-[50px] rounded-tl-[50px] w-full h-[20px] ml-auto"/>
        </div>
      </div>

      <div class="md:w-[45%] flex flex-col md:items-center justify-center">

        <article class="md:max-w-[90%]">
          <div class="flex items-end gap-5 md:justify-normal justify-between">
            <div class="flex gap-3">
              <img class="object-contain h-6 md:h-9" src="/platzi.png" alt="Platzi">
              <h4 class="text-black dark:text-white font-bold text-xl md:text-3xl">Platzi</h4>
            </div>

            <span class="text-secondary-light-text dark:text-secondary-dark-text font-bold text-base">2022 - {i18n.EDUCATION.STATES.CURRENT}</span>
          </div>

          <p class="text-sm text-secondary-light-text dark:text-secondary-dark-text md:mt-3 text-pretty">
            {i18n.EDUCATION.PLATZI}
          </p>

        </article>

        <div class="w-full hidden md:flex flex-col items-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-caret-up-filled text-outline-light dark:text-outline-dark" width="35" height="35" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M11.293 7.293a1 1 0 0 1 1.32 -.083l.094 .083l6 6l.083 .094l.054 .077l.054 .096l.017 .036l.027 .067l.032 .108l.01 .053l.01 .06l.004 .057l.002 .059l-.002 .059l-.005 .058l-.009 .06l-.01 .052l-.032 .108l-.027 .067l-.07 .132l-.065 .09l-.073 .081l-.094 .083l-.077 .054l-.096 .054l-.036 .017l-.067 .027l-.108 .032l-.053 .01l-.06 .01l-.057 .004l-.059 .002h-12c-.852 0 -1.297 -.986 -.783 -1.623l.076 -.084l6 -6z" stroke-width="0" fill="currentColor" />
          </svg>
          <span class="inline-block border-r-2 border-t-2 border-l-2 border-outline-light dark:border-outline-dark rounded-tr-[50px] rounded-tl-[50px] w-full h-[20px] ml-auto"/>
        </div>
      </div>
    </div>

    <!-- Time line -->
    <div class="relative my-8 w-full h-[6px] bg-secondary-light-text dark:bg-secondary-dark-text line mx-auto hidden md:block">
      <span class="absolute left-[-15px] top-[-12px] inline-block w-[30px] h-[30px] bg-secondary-light-text  dark:bg-secondary-dark-text rounded-full"/>
      <span class="absolute right-[-15px] top-[-12px] inline-block w-[0px] h-[0px] triangle"/>
    </div>

    <!-- google & youtube -->
    <div class="w-full flex flex-col items-center">
      <div class="w-full hidden md:flex flex-col items-center">
        <span class="inline-block border-r-2 border-b-2 border-l-2 border-outline-light dark:border-outline-dark rounded-br-[50px] rounded-bl-[50px] w-[calc(100%_-_15px)] h-[20px] ml-auto"/>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-caret-down-filled text-outline-light dark:text-outline-dark" width="35" height="35" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M18 9c.852 0 1.297 .986 .783 1.623l-.076 .084l-6 6a1 1 0 0 1 -1.32 .083l-.094 -.083l-6 -6l-.083 -.094l-.054 -.077l-.054 -.096l-.017 -.036l-.027 -.067l-.032 -.108l-.01 -.053l-.01 -.06l-.004 -.057v-.118l.005 -.058l.009 -.06l.01 -.052l.032 -.108l.027 -.067l.07 -.132l.065 -.09l.073 -.081l.094 -.083l.077 -.054l.096 -.054l.036 -.017l.067 -.027l.108 -.032l.053 -.01l.06 -.01l.057 -.004l12.059 -.002z" stroke-width="0" fill="currentColor" />
        </svg>
      </div>

      <article class="max-w-[700px]">
        <div class="flex items-end gap-5 md:justify-normal justify-between">
          <div class="flex gap-3">
            <img class="object-contain h-6 md:h-9" src="/google.png" alt="Google">
            <h4 class="text-black dark:text-white font-bold text-xl md:text-3xl">Google -</h4>
            <img class="object-contain h-6 md:h-9" src="/youtube.png" alt="YouTube">
            <h4 class="text-black dark:text-white font-bold text-xl md:text-3xl">YouTube</h4>
          </div>

          <span class="text-secondary-light-text dark:text-secondary-dark-text font-bold text-base">{i18n.EDUCATION.STATES.ALWAYS}</span>
        </div>

        <p class="text-sm text-secondary-light-text dark:text-secondary-dark-text md:mt-3 text-pretty">
          {i18n.EDUCATION.GOOGLE}
        </p>


      </article>
    </div>

  </section>
</section>

<style>

  .line {
    width: calc(100% - 30px);
  }
  .triangle {
    border-left: 30px solid #666666;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
  h2 {
    --ds-gray-1000-value: 0,0%,9%;
    --ds-gray-1000: hsla(var(--ds-gray-1000-value),1);

    display: flex;
    align-items: center;
    background: repeating-linear-gradient(90deg,var(--ds-gray-1000),var(--ds-gray-1000) 1px,transparent 1px,transparent 2px);
    --mask: linear-gradient(90deg,#000 30%,rgba(0,0,0,.2) 90%,transparent);
    padding-left: 16px;
    mask-image: var(--mask);
    -webkit-mask-image: var(--mask);
  }

  @media (prefers-color-scheme: dark) {
    .triangle {border-left: 30px solid #A1A1A1;}
    h2{
      --ds-gray-1000-value: 0,0%,93%;
      background: repeating-linear-gradient(90deg,var(--ds-gray-1000),var(--ds-gray-1000) 1px,transparent 1px,transparent 3px);
    --mask: linear-gradient(90deg,#000 30%,rgba(0,0,0,.2) 90%,transparent);
    }
  }
</style>